*{background-color:white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

    .header {
        padding: 20px;
        font-family:'Times New Roman', Times, serif;
        background-color:darkblue;
        color:aliceblue;
    }


    .header h1 {
        display: inline-block;
        font-size: 50px;
        background-color:darkblue;
    }
   .header h2 {
    background-color:darkblue;
   }
.about-me h3{
    font-size: 60px;
}
h1{
    font-size: 100px;
}
h4 {
    font-size: 60px;
}
h5{
    font-size: 60px;
}
li{
    background-color:darkblue;
    color: white;
}

   .flex-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    padding: 0;
  margin: 0;
  list-style: none;
  gap:20px;
   }

   .flex-item {
    background:aquamarine;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-wrap: wrap;
     }

.about-me{
      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-me {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .about-me {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .about-me {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .about-me {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .about-me {background: pink;}}